#this is the git ignore file so no class or build objects are sent to the server
*.class
BuildConfig.java
R.java

.classpath
.project
org.eclipse.jdt.core.prefs
lint.xml
*/bin/*
.settings/*
project.properties